//color
$lightGreen: #00bfa5;
$green: #009688;
$grey: #455a64;
$black: #373e42;


//fonts
$bernierDr: 'bernier_distressedregular';
$bernierR: 'bernier_regularregular';
$bernierShad: 'bernier_shaderegular';

$awesome: 'fontawesomeregular';

$roB: "robotobold";
$roBIt: 'robotobold_italic';
$roIt: 'robotoitalic';
$roL: 'robotolight';
$roLIt: 'robotolight_italic';
$roM: 'robotomedium';
$roMIt: 'robotomedium_italic';
$roR: 'robotoregular';
