.fullscreen-menu
    .fullscreen-menu__left
    .fullscreen-menu__right
    .fullscreen-menu__nav
        ul.fullscreen-menu__nav-list
            li.fullscreen-menu__nav-item
                a(href="my-works.html").fullscreen-menu__nav-link Мои работы 
            li.fullscreen-menu__nav-item
                a(href="blog.html").fullscreen-menu__nav-link Блог 
            li.fullscreen-menu__nav-item
                a(href="about.html").fullscreen-menu__nav-link Обо мне
            li.fullscreen-menu__nav-item
                a(href="index.html").fullscreen-menu__nav-link Авторизация  
.hamburger
    .hamburger__line

    .hamburger__line

    .hamburger__line
