.header__socials
    include mixins
    ul.header__socials-list
        li.header__socials-item
            a(href="https://vk.com/tvopor" target="_blank" title="моя страница вконтакте").header__socials-link
                +icon("icon-vk")         
        li.header__socials-item
            a(href="https://github.com/Iwasherd" target="_blank" title="github").header__socials-link
                +icon("icon-github")         
        li.header__socials-item
            a(href="#" target="_blank" title="").header__socials-link
                +icon("icon-in")